
.page-header {
    background-color: #000080;
    margin: -2px -2px -2px -2px;

    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}


.ini ul {
    list-style: none;
    position: relative;

}

.ini ul li{
     width: 320px;
     float: left;	
}

.ini a {
     padding:10px;
     display: block;
     text-decoration: none;
     text-align: center;
     background-color: #00eaff;

}

.entrada h2{ 

    color: #FF0000;
    font-size: 12pt;
    text-align: left;

}
.lat {
     margin-right: 46px;
     width: 350px;
     float: left;
     background-color:rgba(16, 16,16, 0);
     height:40;
}

.lat ul {
    list-style: none;
    position:relative;
}
.lat a {
    text-decoration: none;
    color: black;
    text-decoration: none;
    background-color: red;
    display: block;
    padding:20px 5px;
    color:white;
}

.lat a:hover {
    background-color: rgb(176, 224, 230);
    color:black;

}
* {
    margin: 0px;
    padding: -10px;
}

.pac {
    text-align: center;
}