{% load staticfiles %}

<html>
    <head>
        <title>HSN-Adicionar pacientes ambulatoriais</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'amb/addamb.css' %}">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <div class="page-header">

            <h1><a href="/">Hospital Sem Nome</a></h1>
        </div>
        <nav class="ini">
            <ul>
                <li><a href="http://127.0.0.1:8000/pg">inicio</a></li>     
                <li><a href="http://127.0.0.1:8000/mostpacientes/">lista de pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/addpacientes/">Adicionar pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/medico/">Medicos</a></li>

            </ul>
        </nav>
        <nav class="lat">
            <ul>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostamb/addamb/">Adicionar pacientes ambulatoriais</a></li>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostinter/addinter/">Adicionar pacientes da internacao</a></li>
            </ul>
        </nav>
        
        <div class='pac'>
            <h1>Nova postagem</h1>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>



    </body>
</html>