{% load staticfiles %}

<html>
    <head>
        <title>HSN-Lista De Pacientes de Ambulatorios</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'amb/mostamb.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="#">Hospital Sem Nome</a></h1>
        </div>
        <nav class="ini">
            <ul>
                <li><a href="http://127.0.0.1:8000/pg">inicio</a></li>     
                <li><a href="http://127.0.0.1:8000/mostpacientes/">lista de pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/addpacientes/">Adicionar pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/medicos/">Medicos</a></li>
            </ul>
        </nav>


        <nav class="lat">
            <ul>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostinter">Mostrar pacintes internados</a></li>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostamb">Mostrar pacintes ambulatorial</a></li>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostinter/mostaltas/">Mostrar pacintes de alta</a></li>

            </ul>
        </nav>
        

        <form method='get' action='.'>
        <div class form-row>
            <class form-group col=12 >
                <div>
                    <input class="form-control form-control-lg" border-right-0 border' type='searsh' name='nome_do_paciente_contains' placeholder="nome_do_paciente_contains">
                    <span class = 'imn-group-append'>
                        <div> class='forms-control pv=2 
                            <i class='fa fa-search>></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class='pac'>
        <h3>Pacientes Ambulatorio</h3>
        {% for Ambulatorio in queryset %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% if Ambulatorio.tipo_de_atendimento == 'ambulatorio'%}
                <h1><a href="{% url 'post_detail' pk=Ambulatorio.pk %}">{{ Ambulatorio.title }}</a></h1>
                <p>{{ Ambulatorio.nome_do_pai|linebreaksbr }}</p>
                <p>{{ Ambulatorio.nome_da_mae|linebreaksbr }}</p>
                <p>{{ Ambulatorio.nome_da_medico_responsavel|linebreaksbr }}</p>
                <p>{{ Ambulatorio.nome_do_enfermeiro_responsavel|linebreaksbr }}</p>
                <p>{{ Ambulatorio.idade|linebreaksbr }}</p>
                <p>{{ Ambulatorio.doenca|linebreaksbr }}</p>
                <p>{{ Ambulatorio.setor|linebreaksbr }}</p>
             {% endif %}
        {% endfor %}

        </div>

    </body>
</html>