{% load staticfiles %}

<html>
    <head>
        <title>HSN</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'pg/blog.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="/">Hospital Sem Nome</a></h1>
        </div>


        <nav class="menu">
            <ul>
                <li><a href="http://127.0.0.1:8000/pg">inicio</a></li>     
                <li><a href="http://127.0.0.1:8000/mostpacientes/">lista de pacientes</a>

                </li>
                <li><a href="http://127.0.0.1:8000/addpacientes/">Adicionar pacientes</a></li>

                <li><a href="http://127.0.0.1:8000/medicos/">Medicos</a></li>
            </ul>
        </nav>

        <div class="entrada">
            <h2>Bem vindo ao Hospital Sem Nome<h2>
        </div>

    </body>
</html>