{% load staticfiles %}

<html>
    <head>
        <title>HSN</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="/">Hospital Sem Nome</a></h1>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">inicio</a></li>     

                <l1><a href="mostpacientes/">lista de pacientes</a>
                    <ul>
                        <li><a href="mostpacientes/mostambulatorial">Pacientes ambulatoriais</a>
                        </li>        
                        <li><a href="mostpacientes/mostinternacao">Pacientes internados</a>
                        </li>      
                        <li><a href="mostpacientes/mostaltas">Pacientes de alta</a>
                        </li>        
                    </ul>
                </li>
                <li><a href="addpacientes/">Adicionar pacientes</a>
                    <ul>
                        <li><a href="addpacientes/addambulatorial">Adicionar pacientes ambulatoriais</a>
                        </li>
                        <li><a href="addpacientes/addinternacao">Adicionar pacientes internados</a>
                        </li>        
                    </ul>
                </li>
                <li><a href="outras/">Outras alteracoes de dados</a>
                    <ul>
                        <li><a href="outras/alterdados">Alterar dados de pacientes</a></li>        
                        <li><a href="outras/adddados">Adicionar dados de pacientes</a></li>        
                    </ul>

                </li>
                <li><a href="outras/">ferramentas de pesquisa</a>
                    <ul>
                        <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/">pubmed</a></li>
                        <li><a href="https://www.w3schools.com/python/default.asp">python</a></li>
                        <li><a href="https://www.w3schools.com/html/default.asp">html</a></li>             
                        <li><a href="https://www.w3schools.com/css/default.asp">css</a></li>       
                    </ul>

                </li>
            </ul>
        </nav>
    </body>
</html>