{% load staticfiles %}

<html>
    <head>
        <title>HSN</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="/">Hospital Sem Nome</a></h1>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">inicio</a></li>     
                <li><a href="mostpacientes/">lista de pacientes</a>

                </li>
                <li><a href="addpacientes/">Adicionar pacientes</a></li>

                <li><a href="outras/">Outras alteracoes de dados</a></li>
            </ul>
        </nav>

        <div class="entrada">
            <h2>Bem vindo ao Hospital Sem Nome<h2>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.nome_do_paciente }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>