{% load staticfiles %}

<html>
    <head>
        <title>HSN</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="/">Hospital Sem Nome</a></h1>
        </div>
        <nav class="navbar">
            <div class="navbar-fundo">
		<li class="menu">
                    <li class"first-menu">
                        <h1><a href="/">inicio</a></h1>     
                    </li>
                    <li class"first-menu">
                        <h1><a href="https://www.ncbi.nlm.nih.gov/pubmed/">pubmed</a></h1>     
                    </li>

                    <li>
                        <h1><a href="/pacientes">lista de pacientes</a></h1>
                        <ul>
                            <li>
                                <h2><a href="/pacientes/ambulatorio">Pacientes ambulatoriais</a></h1>        
                            </li>
                            <li>
                                <h2><a href="/pacientes/internacao">Pacientes internados</a></h1>        
                            </li>
                            <li>
                                <h2><a href="/pacientes/alta">Pacientes de alta</a></h1>        
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h1><a href="">Adicionar pacientes</a></h1>
                        <ul>
                            <li>
                                <h2><a href="">Adicionar pacientes ambulatoriais</a></h1>        
                            </li>
                            <li>
                                <h2><a href="">Adicionar pacientes internados</a></h1>        
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h1><a href="">Adicionar pacientes</a></h1>
                        </ul>
                            <li>
                                <h2><a href="">Alterar dados de pacientes</a></h1>
                            </li>
                            <li>
                                <h2><a href="">Adicionar dados de pacientes</a></h1>
                            </li>
                        </ul>
                    </li>
		</li>
            </div>
        </nav>