{% load staticfiles %}

<html>
    <head>
        <title>HSN-Lista De Pacientes de Ambulatorios</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'amb/mostamb.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="#">Hospital Sem Nome</a></h1>
        </div>
        <nav class="ini">
            <ul>
                <li><a href="http://127.0.0.1:8000/pg">inicio</a></li>     
                <li><a href="http://127.0.0.1:8000/mostpacientes/">lista de pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/addpacientes/">Adicionar pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/medicos/">Medicos</a></li>
            </ul>
        </nav>


        <nav class="lat">
            <ul>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostinter">Mostrar pacintes internados</a></li>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostamb">Mostrar pacintes ambulatorial</a></li>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostinter/mostaltas/">Mostrar pacintes de alta</a></li>

            </ul>
        </nav>


        <div class='pac'>
            {% if Ambulatorio.title %}           
                <p>{{ Ambulatorio.title }}</p>
            {% endif%}
        {% for Ambulatorio in queryset %}

            {% if Ambulatorio.tipo_de_atendimento == 'ambulatorio'%}
                <h1>{{ Ambulatorio.title }}</h1>
                <p>{{ Ambulatorio.nome_do_pai|linebreaksbr }}</p>
                <p>{{ Ambulatorio.nome_da_mae|linebreaksbr }}</p>
                <p>{{ Ambulatorio.nome_da_medico_responsavel|linebreaksbr }}</p>
                <p>{{ Ambulatorio.nome_do_enfermeiro_responsavel|linebreaksbr }}</p>
                <p>{{ Ambulatorio.idade|linebreaksbr }}</p>
                <p>{{ Ambulatorio.doenca|linebreaksbr }}</p>
                <p>{{ Ambulatorio.setor|linebreaksbr }}</p>
             {% endif %}
        {% endfor %}
    </body>
</html>



       