{% load staticfiles %}

<html>
    <head>
        <title>HSN-Lista De Pacientes Internados</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/mostinter.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="#">Hospital Sem Nome</a></h1>
        </div>
        <nav class="ini">
            <ul>
                <li><a href="http://127.0.0.1:8000/">inicio</a></li>     
                <li><a href="http://127.0.0.1:8000/mostpacientes/">lista de pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/addpacientes/">Adicionar pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/outras/">Outras alteracoes de dados</a></li>
            </ul>
        </nav>


        <nav class="lat">
            <ul>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostinternacao">Mostrar pacintes internados</a></li>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostambulatorial">Mostrar pacintes ambulatorial</a></li>
                <li><a href="http://127.0.0.1:8000/mostpacientes/mostaltas">Mostrar pacintes de alta</a></li>
            </ul>
        </nav>



    </body>
</html>