{% load staticfiles %}

<html>
    <head>
        <title>HSN-Mostrar medicos</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'med/med.css' %}">
    </head>
    <body>

        <div class="page-header">
            <h1><a href="#">Hospital Sem Nome</a></h1>
        </div>
        <nav class="ini">
            <ul>
                <li><a href="http://127.0.0.1:8000/pg">inicio</a></li>     
                <li><a href="http://127.0.0.1:8000/mostpacientes/">lista de pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/addpacientes/">Adicionar pacientes</a></li>
                <li><a href="http://127.0.0.1:8000/medicos/">meus dados</a></li>
            </ul>
        </nav>

        <nav class="lat">
            <ul>
                <li><a href="http://127.0.0.1:8000/medicos/addmed">Adicionar medicos</a></li>
            </ul>
        </nav>

        <form method='get' action='.'>
        <div class form-row>
            <class form-group col=12 >
                <div>
                    <input class="form-control form-control-lg" border-right-0 border' type='searsh' name='nome_do_medico_contains' placeholder="nome_do_medico_contains">
                    <span class = 'imn-group-append'>
                        <div> class='forms-control pv=2 
                            <i class='fa fa-search>></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>



        <section class='pac'>
            <h3>Meus dados</h3>
            {% for Medico in queryset %}
                
                <h3><a href="">{{ Medico.nome_do_medico }}</a></h3>
                
                <h3>idade:</h3><p>{{ Medico.idade|linebreaksbr }}</p>
                <h3>Formacao:</h3>
                <p>{{ Medico.formacao|linebreaksbr }}</p>
                <h3>especializacao:</h3>
                <p>{{ Medico.especializacao|linebreaksbr }}</p>
                <h3>tempo de trabalho:</h3>
                <p>{{ Medico.tempo_de_trabalho|linebreaksbr }}</p>
                <h3>setor de trabalho:</h3>
                <p>{{ Medico.setor_de_trabalho|linebreaksbr }}</p>
                <h3>status:</h3>
                <p>{{ Medico.status|linebreaksbr }}</p>
            {% endfor %}

   
        </section>
    </body>
</html>
